@charset "UTF-8";
/* 回答はここから */
@charset "UTF-8";

.card--list {
  display: flex;
  justify-content: center;
}
.card--text {
  width: 200px;
  margin: 0 30px;
  padding: 10px;
  list-style: none;
  outline: 10px solid #655;
  box-shadow: 0 0 0 6px #655;
  border-radius: 13px;
  background: #d2b48c;
}

.card--1 {
  margin-left: 0;
}

.card--2 {
  margin-right: 0;
}